.Dashboard-Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



.Dashboard-Post {
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    border: black solid 1px;
    margin-top: 20px;
    
}
#Dash-Img {
    display: flex;
    justify-content: center;
    align-self: center;
}
